.upload_button{
    padding-top: 5%;
}

.profile_details{
    padding-top: 1%;
}

.update_button{
    padding-top: 3%;
}

.hr_style{
    border-top: 3px solid #428bca;
}

.sad_buttons{
    padding-left: 40%;
}
