<div class="container container-table">
   <div class="row vertical-center-row">
       <div class="text-center col-md-4 col-md-offset-4">
           <h2 style="color: white;">Matelook</h2>
           <div>
               <img src="{{profile_pic}}" class="img-responsive img-size" style="height: auto; width: auto; max-width: 200px; max-height: 200px;">
           </div><br>
           <div>
               <label>You have accepted {{name}} as a mate</label><br>
               <label>Log in to see their profile ;)</label>
           </div>
       </div>
   </div>
</div>
