<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
			<h1 style="color: white;">Matelook</h1>
            <!-- Place login box html code here -->
            <!-- Below code was taken from: http://bootsnipp.com/snippets/featured/progressive-button-on-login -->
            <!-- The corresponding css file: login.css was also taken from the above link -->
			<div>
				<p id="error" style="color: red; display: none;">{{error_message}}</p>
			</div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="uLogin" placeholder="Login">
                    <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                </div>
            </div> <!-- /.form-group -->

            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" id="uPassword" placeholder="Password">
                    <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->

            <div>
                <button class="btn btn-primary btn-xs" style="color: white;background-color: #428bca;" onclick="click_create_acc()">Create Account</button><br>
                <button class="btn btn-primary btn-xs" style="color: white;;background-color: #428bca;" onclick="forgot_password()">Forgot Password</button>
            </div>

            <div style="padding-top: 3%;">
                <button class="btn btn-primary" onclick="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<form role="form" id="login_form" method="POST" action="">
    <input type="hidden" name="welcome_page_action" id="welcome_page_action" value="login">
    <input type="hidden" name="logged_in" id="user_status" value="0">
    <input type="hidden" name="username" id="uid">
    <input type="hidden" name="password" id="pwd">
</form>
