<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
            <h1 style="color: white;">Matelook</h1>
            <!-- Place login box html code here -->
            <!-- Below code was taken from: http://bootsnipp.com/snippets/featured/progressive-button-on-login -->
            <div>
                <p id="error" style="color: red;display: none;">{{error_message}}</p>
            </div>

            <h3 style="background-color: #428bca; border-radius: 5px; color: white;">Recover my password:</h3><br>
            <div>
                <input id="email_address_box" type="text" placeholder="Enter email address" name="email_address" style="width: 80%;">
                <button class="btn btn-primary" onclick="submit_reset_password()">Recover my Matelook</button>
            </div>
        </div>
    </div>
</div>

<form role="form" id="login_form" method="POST" action="">
    <input type="hidden" name="welcome_page_action" id="welcome_page_action" value="finish_reset">
    <input type="hidden" name="logged_in" id="user_status" value="0">
    <input type="hidden" name="email_address" id="email_address">
</form>
